<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<section class="card">
  <h1>Recent Recipes of {{username}}</h1>
  <a href="/recipe/{{id}}">
    <header> {{recipeInfo.title}}</header>
  </a>
</section>

{{#if logged_in}}
  <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center main">
          <div>
              <form action="/" method="post">
              <input name="city" type="text" >
              <button>Add a recipe</button>
              <button>Edit existing recipe</button>
            </form>
            </form>
            <div class="mt-3">
              {{#each recipes}}
              {{recipeInfo}}
              {{image}}
              {{error}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

</body>


<script src="../models/Recipe.js"
</html>
